@import url(font.css);

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;

}


nav {
    background: #282828;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
    padding: 5px 0;
}


.nav-left {

    display: flex;

    align-items: center;
}



.nav-left__list {
    padding-left: 10px;
    display: flex;
    text-transform: capitalize;
    padding-left: 10px;
}

.nav-left__link {
    margin-left: 30px;
    color: #FFF;
    font-family: 'MB';
    transition: 500ms;


}

.nav-left__link:hover {
    color: darkorange;
}

.nav-icons {
    color: #FFF;
    display: flex;
    padding-left: 638px;

}



.nav-icons-two {
    padding-left: 25px;
}

.header-content {
    height: 700px;
    background: url('../images/Header\ \(1\).png') no-repeat center /cover;
}

.header-content__text {
    text-align: center;
    color: #FFF;
    font-family: "PR";
    font-size: 80px;
    line-height: 75px;
    /* 75% */
    padding-top: 205px;
}


.header-link {
    padding: 13px;
    font-family: "MM";
    font-size: 20px;
    line-height: 22px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 45px;

}


.header-content__btn {
    border-radius: 10px;
    background: #FFF;
    color: #171718;
    padding: 11px;
    transition: all 500ms;
}

.header-content__btn:hover {
    color: darkorange;

}

.nav-icon {
    color: #FFF;
    transition: 500ms;
}

.nav-icon:hover {
    color: darkorange;
}

/* main start */
main {
    background: #151515 no-repeat center /cover;

}

.main-one {
    display: flex;
    justify-content: center;
    padding-top: 50px;

}

.main-left {


    width: 538px;
    color: #FFF;
    font-family: 'MM';
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.main-right {
    padding-top: 50px;
    padding-left: 200px;
    width: 552px;
    height: 335px;
    flex-shrink: 0;
}

.main-two {
    padding-top: 100px;
    display: flex;
    justify-content: center;
}

.main-left__two {
    width: 457px;
    height: 408px;
    flex-shrink: 0;
}

.main-right__two {
    padding-top: 150px;
    width: 540px;
    height: 107px;
    flex-shrink: 0;
    color: #FFF;
    font-family: 'MM';
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.main-three {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 100px;
}

.main-left__three {
    padding-right: 50px;
    width: 333px;
    color: #FFF;
    text-align: right;
    font-family: 'MM';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.main-right__three {
    padding-left: 50px;
    width: 333px;
    color: #FFF;
    font-family: 'MM';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    

}

.main-four {
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
}

.main-four__one {

    padding-top: 15px;
    padding-left: 10px;
    display: block;
    text-align: center;
    width: 255px;
    height: 312px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #FFF;
    color: #000;
    font-family: 'MM';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.main-four__img {
    padding-top: 10px;
}

.main-four__one-text {
    padding-top: 10px;
    color: #000;
    font-family: 'MR';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.main-four__link {

    color: #FFF;
    font-family: 'MB';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;


}

.main-four__btn {

    background: #151515;
    width: 161px;
    height: 34px;
    flex-shrink: 0;
}

.nav-footer {

    display: flex;
    align-items: center;
    width: 1600px;
    height: 215px;
    flex-shrink: 0;
}

.main__bottom-text_before::before {
    content: "";
    display: block;
    background: #C4C4C4;
    width: 61px;
    height: 1px;
    position: absolute;
    top: 63px;
    right: -75px;
} 
.main__bottom-text_after::after {
    content: "";
    display: block;
    background: #C4C4C4;
    width: 61px;
    height: 1px;
    position: absolute;
    bottom: 63px;
    left: -75px;
}
.main__bottom-left {
    position: relative;
    color: #FFF;
    text-align: right;
    font-family: "MB";
    font-size: 20px;
    line-height: 24px;
    max-width: 333px;
    width: 100%;
}

.main__bottom-right {
    position: relative;
    color: #FFF;
    text-align: right;
    font-family: "MB";
    font-size: 20px;
    line-height: 24px;
    max-width: 333px;
    width: 100%;
}
.footer {
    background: #282828;
    box-shadow: 0px -4px 20px 0px rgba(0, 0, 0, 0.25);
    height: 215px;
    padding: 81px 0;
    display: flex;
    justify-content: space-between;
}

.footer__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__list-link {
    color: #FFF;
    text-align: right;
    font-family: "MB";
    font-size: 20px;
    line-height: 24px;
    margin-right: 30px;
}
.footer__box-icons {
    font-size: 55px;
}

.footer-icon__one {
    margin-right: 29px;
    color: #FFF;
}

.footer-icon__two {
    color: white;
}
.footer__box-right_list{
    display: flex;
}
